#wrapper {
  width: 100%;
  margin: 0px auto;
}

body {
  font-family: Ubuntu;
}

a { color: white; }
a:visited { color: white; }

.chat ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.message-right .message-author {
  display: block;
  font-size: 12px;
  text-align: right;
  padding-right: 20px;
  padding-top: 4px;
  color: #000;
  font-family: Arial;
  font-weight: normal;

}

.message-right {
  text-align: right;
  margin-bottom: 2px;
}

.message-right .message-text {
  display: inline-block;
  background: #5ca6fa;
  padding: 10px 17px 12px;
  font-size: 14px;
  color: #fff;
  border-radius: 28px;
  line-height: 1.5em;
  font-weight: bold;
  text-align: right;
  min-width: 200px;
  opacity: 0.9;
}

.chat {
  border-radius: 30px;
  padding: 20px;
}

.inner-author {
  background-color: white;
  border-radius: 4px;
  padding: 3px 5px 2px 5px;
  margin: 2px 0px 0px 0px;
}
.author-avatar {
  padding: 1px 1px;
  background-color: white;
  top: 6px;
  position: relative;
  width: 22px;
  height: 22px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 8px;
  margin-right: 5px;
  margin-bottom: -5px;
  z-index: 1000;
}
.author-avatar img {
  max-width: 22px;
  max-height: 22px;
  border-radius: 8px;
}

.chat-container {
  height: 400px;
  overflow-y: hidden;
  padding-right: 16px;
}

.chat-listcontainer {
  bottom: 0;
  position: fixed;
  width: 90%;
  right: 10px;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
